<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <!-- Portfolio Modal Body START -->
            <ul class="list-inline">
              <li>
                {% if post.game-gallery %}
                <a href="{{ post.game-gallery }}" class="btn btn-outline">Visit DigiPen Game Gallery</a>
                {% endif %}
                {% if post.steam %}
                <a href="{{ post.steam }}" class="btn btn-outline">Visit Steam</a>
                {% endif %}
              </li>
            </ul>
            {% if post.tags contains "portfolio" %}
              <img src="img/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% if post.description %}
                <p>{{ post.description }}</p>
              {% endif %}
              {% if post.img-2 %}
                <img src="img/{{ post.img-2 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% endif %}
              {% if post.description-2 %}
                <p>{{ post.description-2 }}</p>
              {% endif %}
              {% if post.img-3 %}
                <img src="img/{{ post.img-3 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% endif %}
              {% if post.description-3 %}
                <p>{{ post.description-3 }}</p>
              {% endif %}
              {% if post.img-4 %}
                <img src="img/{{ post.img-4 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% endif %}
              {% if post.description-4 %}
                <p>{{ post.description-4 }}</p>
              {% endif %}
              {% if post.img-5 %}
                <img src="img/{{ post.img-5 }}" class="img-responsive img-centered" alt="{{ post.alt }}">
              {% endif %}
              {% if post.description-5 %}
                <p>{{ post.description-5 }}</p>
              {% endif %}
            {% endif %}
            <!-- Portfolio Modal Body END -->
            <!-- Publication Modal Body START -->
            {% if post.tags contains "publication" %}
              {% if post.vid %}
                <video width="480" height="270" controls>
                  <source src="img/{{ post.vid }}" type="video/mp4">
                  <source src="img/{{ post.vid-ogg }}" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
              {% endif %}
              {% if post.description %}
                <p>{{ post.description }}</p>
              {% endif %}
            {% endif %}
            <!-- Publication Modal Body END -->
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Role:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
